Makefile
*/Makefile
*.erl~
*.beam
*.so
*/*.so
*/*.beam
*/*.erl~

config.log
config.status
ejabberd.init
ejabberdctl.example

XmppAddr.asn1db
XmppAddr.erl
XmppAddr.hrl

eldap/ELDAPv3.asn1db
eldap/ELDAPv3.erl
eldap/ELDAPv3.hrl

